#navbar{

margin-bottom: 15px;
background-color: beige;
margin-top: 15px;

}


#aboutus{

margin-top: 50px;

}

.logo{


}
.navbar1{

  

}

.header{

display: flex;
justify-content: space-evenly;


}